<div class="row">
  <div class="col-md-12 text-center"><h3>Listy obecności</h3></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Uczestnik</th>
      <th *ngFor="let activity of activities">{{activity.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{i + 1}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td *ngFor="let activity of activities"><input type="checkbox" [checked]="userWasPresent(user, activity)" (click)="togglePresence(user, activity, $event)" /></td>
    </tr>
  </tbody>
</table>
